body{

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(47,47,198,1) 43%, rgba(0,212,255,1) 96%);    font-family: "Poppins";
    display: grid;
    justify-content: center;
}

.contanier-login{

    background: #f3f3f3;
    border-radius: 20px; 
    box-shadow: 0px 19px 40px 0px rgba(0, 0, 0, 0.05);  
    padding: 26px;
    min-width: 460px;
    margin-top: 60px;


}


h1{
    color: #000;
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 600; 
    margin:0;
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(30, end), blink-caret 0.5s step-end 3s forwards;

}

/* Animação da digitação */
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
/* Animação do cursor piscando */
@keyframes blink-caret {
    50% {
      border-color: transparent;
    }
    100% {
      border-color: transparent;
    }
  }

h2{
    color: #15088b; 
    font-size: 36px;
    font-style: normal;
    font-weight: 600; 
    margin:0;

}

h3,label,p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin:0;

}

label a {

    font-size: 14px;
    font-style: normal;
    font-weight: 300; 
    color: #000; 
    opacity: 0.5; 

}

button{

    padding: 16px 32px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    justify-self: center;
    border-radius: 23px;
    background: #3b25ff;
    color:#FFF; 
    cursor: pointer;

}

button:hover{
    background: #4b37fff1;
}

form{
    display: grid;
    max-width: 450px;
}

.text-sign-up{

    text-align: center;
    color: rgba(0, 0, 0, 0.412); 
    margin-top: 20px;}




.password{
    display: flex;
    justify-content: space-between;
}

a{    text-decoration: none;
}

input{
    border-radius: 4px;
background: #FFF6F4; 
border: none;
padding: 14px;
}

.grid-contanier{

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 120px;

}

.img-login img{
    width: 500px;
    height: 520px; 
    margin-top: 200px;    
}

/* testes */
.tab-content {
    display: none; /* Oculta a aba inicialmente */
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}


  /* Estilo do modal */
  .modal {
    display: none; /* Oculta o modal inicialmente */
    position: fixed; /* Fica fixo na tela */
    z-index: 1; /* Fica acima de outros conteúdos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total da tela */
    height: 100%; /* Altura total da tela */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    padding-top: 60px; /* Espaço no topo */
}

/* Estilo do conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Margem centralizada */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
    max-width: 1000px; /* Largura máxima */
    border-radius: 5px; /* Cantos arredondados */
}

/* Estilo do botão de fechar */
.close {
    color: #aaa;
    float: right; /* Posiciona o botão à direita */
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.noturno{

    background: #474747;

}



@media (max-width:1040px){

    .grid-contanier{
        grid-template-columns: 1fr;
    }

    .contanier-login{

        border-radius: 20px; 
        padding: 60px;
        margin-left: 0px;
        margin-top: 20px;
    
    
    }

    .img-login{
        display: none;
    }

    
h1{
    font-size: 42px;
}

h2{
    font-size: 24px;
}

h3,label,p{
    font-size: 14px;
}



}

@media (max-width: 560px){

    .contanier-login{
    
        max-width: 440px;
        min-width: 0px;

    }

}